################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GetGoWeb/FileContentIndex
/.vs/GetGoWeb/v17
/.vs/GetGo2/v17
/UploadedFiles/WEB231022001
/.gitignore
